target
*.classes
*.xc
bin
gen
.DS_Store
.idea
*.iml
out/
.DS_Store
.project
.settings
.classpath
gmcommerse/appstore/android/GMAppStore/magnet-gen/src/com/magnet/mobile/android/bootstrap/assets/RegisteredServices1.java

/gmdriver/gm-next-gen-app-client-apps-android-1.0/out
/gmdriver/gm-next-gen-app-client-apps-android-1.0/.idea
/gmdriver/gm-next-gen-app-client-apps-android-1.0/gm-next-gen-app-client-apps-android-1.0.iml

target/
local.properties
bin
gen
/gmcommerse/appstore/android/GMAppStore/out
/gmcommerse/appstore/android/GMAppStore/magnet-gen/classes

/gmdriverRefactoring/.idea
/gmdriverRefactoring/gm-next-gen-app-client-apps-android-1.0/sdk-submodule/libproject/2.2.0/*.iml
/gmdriverRefactoring/gm-next-gen-app-client-apps-android-1.0/sdk-submodule/libproject/2.2.0/*.iml
/gmdriverRefactoring/gm-next-gen-app-client-apps-android-1.0/.idea
/gmcommerse/appstore/android/GM App Store/local.properties
/gmcommerse/mcdonalds/android/McDonalds/local.properties
/gmcommerse/appstore/android/GMAppStore/out
/gmcommerse/appstore/android/GM App Store/out
/gmcommerse/tracktime/targets
/gmcommerse/tracktime/build
/gmcommerse/dummy/build
/gmcommerse/dummy/targets

asagri.xcuserdatad
/gmcommerse/adtestconsole/build
